name: Test

on:
  push:
    # triggered by both commit and tag
    branches:
      - main
    tags:
      - "v*.*.*"

jobs:
  cli-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip

      - name: Install poetry
        run: |
          pip install poetry poetry-dynamic-versioning

      - name: Build package
        run: |
          poetry build

      - name: Install CLI
        run: |
          pip install dist/*.whl

      - name: Check CLI is installed
        run: |
          which tagrefsorter
          tagrefsorter --help

      - name: Run minimal command
        run: |
          tagrefsorter --version

      - name: Poetry Install Dependencies
        run: |
          poetry install --no-interaction

      - name: Run Tests
        run: |
          poetry run pytest

      - name: Run Ruff
        run: |
          poetry run ruff check .
