name: Test

on:
  push:
    # triggered by both commit and tag
    branches:
      - main
    tags:
      - "v*.*.*"

jobs:
  cli-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip

      - name: Install dependencies
        run: |
          python -m pip install build

      - name: Build package
        run: |
          python -m build

      - name: Install CLI
        run: |
          pip install dist/*.whl

      - name: Check CLI is installed
        run: |
          which tagrefsorter
          tagrefsorter --help

      - name: Run minimal command
        run: |
          tagrefsorter --version
